.chat {
  display: flex;
  flex-direction: column;
  height: 70vh;

  &__title {
    width: 100%;
    text-align: center;
    align-self: center;
    margin: 1rem;
    color: darkslategrey;

    animation: loadingDot infinite 1s;
  }

  &__list {
    flex-grow: 1;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
      padding: 0.5rem 1rem;
      transition: background-color 0.3s;

      &__content {
        display: flex;
        align-items: center;
      }

      &__pic {
        margin-right: 1rem;
        width: 40px; // or any size you want
        height: 40px; // or any size you want
        border-radius: 50%; // to make the image round
      }

      &:nth-child(odd) {
        background: #efefef;
      }

      &:hover {
        background-color: #f3f8ff;
      }
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(0.625rem);
    padding: 0.25rem;

    &__input {
      padding: 0 1rem;
      flex-grow: 1;
      border-radius: 0.75rem;
      margin: 0.25rem;
      margin-top: 0.75rem;
      font-size: 1rem;
      border: silver;
      outline: none;
      border: 0.0625rem solid silver;
      height: 4rem;
      width: 100%;

      &::placeholder {
        color: slategray;
        font-size: 1rem;
      }

      &:focus {
        outline: none;
        border: 0.125rem solid #1358db;
      }
    }

    &__button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      width: 25%;
      height: 2.5rem;

      border-radius: 0.25rem;
      outline: none;
      background-color: #1358db;
      border: 0.0625rem solid #1358db;

      margin: 0.5rem;
      margin-left: auto;
      padding: 0.5rem;

      font-size: 0.85rem;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: #003fc2;
      }

      &:active {
        background-color: black;
      }
    }
  }
}
