@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0px) rotate(0deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: translateY(-10px) rotate(15deg);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}

@keyframes foldCube {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes waveAnimation {
  0%,
  60%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0.8);
  }
}

@keyframes loadingDot {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-5px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(46, 102, 229, 0.7);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(46, 102, 229, 0.7),
      0 0 30px rgba(46, 102, 229, 0.7);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(46, 102, 229, 0.7);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
