.partner-profile {
  display: flex;
  flex-direction: column;

  width: 100%;

  &-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &__edit-button {
      align-self: flex-end;
      font-size: 0.85rem;
      font-weight: 600;
      margin-right: 0.75rem;
      color: #1358db;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__background {
      width: calc(100% + 2rem);
      height: 8rem;
      object-fit: cover;
      object-position: bottom;

      margin: -1rem;
    }

    &__pic {
      width: 35%;
      margin: -4rem auto 2rem auto;

      border: 0.125rem solid #f3f8ff;
      border-radius: 0.5rem;
    }

    &__detail {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      & > * {
        margin-bottom: 0.125rem;
      }

      &-name {
        font-size: 1.25rem;
        font-weight: 600;
      }

      &-headline {
        margin-bottom: 0.5rem;
      }

      &-industry,
      &-location {
        font-size: 0.875rem;
        color: #767676;
      }

      &-industry {
        font-weight: 600;
      }

      &-employees {
        font-size: 0.75rem;
        font-weight: 600;
        align-self: flex-end;

        margin-right: 1rem;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;

      border: 0.0625rem solid silver;
      border-radius: 0.5rem;

      width: 100%;
      padding: 0.75rem;
      margin-top: 1rem;
      gap: 0.5rem;

      & > * {
        width: fit-content;
        display: flex;
        align-items: center;

        font-size: 0.875rem;
      }

      &-icon {
        height: 1rem;
        margin-right: 0.5rem;
      }
    }

    &__links {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-top: 0.5rem;
      gap: 1rem;

      &-icon {
        width: 1.5rem;
      }
    }

    &__bio {
      display: flex;
      flex-direction: column;

      &-title {
        font-size: 1rem;
      }

      &-contentwrapper {
        padding: 0.75rem;

        border: 0.0625rem solid silver;
        border-radius: 0.5rem;
      }

      &-content {
        font-size: 0.875rem;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        &--expanded {
          -webkit-line-clamp: 15;
        }
      }

      &-resume {
        margin-top: 0.5rem;
        font-size: 1rem;
      }
    }
  }

  &-hero {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    gap: 0.25rem;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-bottom: 1rem;
    padding: 0.25rem 0;

    background-color: #ececec;

    &__video {
      background-color: #000000;
      border-radius: 0.25rem;
      border: none;
      flex: 0 0 95%;
      aspect-ratio: 16 / 9;
    }
  }

  &-jobs {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;

    width: 100%;

    &__title {
      margin-top: 1rem;
      width: 100%;
      font-size: 1.25rem;
    }

    &__list {
      display: flex;
      flex-direction: column;

      border-radius: 0.5rem;
      margin-top: 0.5rem;
      padding: 0.5rem;

      width: 100%;

      &-title {
        margin-top: 0.5rem;
        width: 100%;
        font-size: 1rem;
      }

      &-items {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;

        gap: 0.75rem;

        width: 100%;
        height: fit-content;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        border: 0.0625rem solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);

        border-radius: 0.5rem;
        width: 65%;
        aspect-ratio: 1 / 1.618;

        margin: 0.5rem 0;
        padding: 0.5rem;
        flex-shrink: 0;

        & > p {
          padding: 1rem;
          font-size: 0.85rem;
        }

        & > h4 {
          animation: pulse infinite 7s forwards;
          border: 0.0625rem solid slategray;
          border-radius: .25rem;
          padding: 3rem;
          height: 60%;
          width: 90%;


          & > a {
            &:hover {
              text-decoration: underline;
            }
          }
        }

        &:hover {
          cursor: pointer;
          background-color: #f3f8ff;
        }
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }

  &-skills {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;

    &__title {
      font-size: 1rem;
      margin: 0.5rem 0;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.75rem;

      width: 100%;
      height: fit-content;

      &-item {
        width: 13%;

        & > img {
          width: 100%;

          margin: 0.25rem;
        }
      }
    }
  }
}
