.navbar {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  left: 1rem;
  top: 4.5rem;

  background-color: rgba(167, 211, 255, 0.55);

  &:hover {
    display: flex;
  }

  &__li {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem;

    &:hover {
      cursor: pointer;
      background-color: aqua;
      text-decoration: underline;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    &--active {
      background-color: rgb(167, 211, 255);
    }
  }
}
