@import "../../styles/partials/animations";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-social {
    &__icon {
      width: 2.5rem;
      margin: 0.5rem;

      &:hover {
        cursor: pointer;
        animation: tilt-shaking infinite 0.4s;
      }
    }
  }

  &__copyright {
    font-size: 0.75rem;
    margin: 1rem auto;
  }
}
