@import "../../styles/partials/animations";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-social {
        &__icon {
            width: 2.5rem;
            margin: .5rem;

            &:hover {
                cursor: pointer;
                animation: tilt-shaking infinite .4s;
            }
        }
    }

    &__copyright {
        font-size: .75rem;
        margin: 1rem auto;
    }
}