@import "./styles/partials/animations";
@import "./styles/partials/mixins";
@import "./styles/partials/presets";
@import "./styles/partials/typography";
@import "./styles/partials/variables";

.app {
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
}

.pages {
  width: 90%;
  max-width: 120rem;
  padding: 0 1rem;
  margin: 0rem 1rem 3rem 1rem;
  border-radius: .25rem;
  background-color: lightcyan;
}